<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      <%= @page.title %>
    </p>
    <p class="subtitle">
      <%= @page.page_title %>
    </p>
  </div>
</section>
<div class="section">
  <div class="container">
    <%= @page.content %>
  </div>
</div>
